### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [15]:
total = purchase_data_df["SN"].count()
total

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
unique_items = len(purchase_data_df["Item ID"].unique())

total_revenue = purchase_data_df["Price"].sum()

average_price = purchase_data_df["Price"].mean()

purchasing_analysis_df = pd.DataFrame([{"Unique Items": unique_items,"Total Revenue": total_revenue, "Number fo Purchase": total, "Average Price": average_price}])
purchasing_analysis_df

   Unique Items  Total Revenue  Number fo Purchase  Average Price
0           179        2379.77                 780       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [17]:
genderdemo_df = pd.DataFrame(purchase_data_df["Gender"]).value_counts()
gender_percentage = (purchase_data_df["Gender"].value_counts()/total)*100

genderdemo_df["Percentage of Players"] = gender_percentage
genderdemo_df

Gender
Male                                                                   652
Female                                                                 113
Other / Non-Disclosed                                                   15
Percentage of Players    Male                     83.589744
Female     ...
dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
gender_grouped_purchased_data_df = purchase_data_df.groupby(["Gender"])


gender_grouped_purchased_data_df["Purchase ID"].count()


total_purchase_value = gender_grouped_purchased_data_df["Price"].sum()
total_purchase_value.head()

avg_purchase_price = gender_grouped_purchased_data_df["Price"].mean()
avg_purchase_price.head()

Avg_purchase_per_person = total_purchase_value/gender_grouped_purchased_data_df["Purchase ID"].count()

org_gender_purchased_data_df = pd.DataFrame(gender_grouped_purchased_data_df["Purchase ID"].count())
org_gender_purchased_data_df["Average Purchase Price"] = avg_purchase_price
org_gender_purchased_data_df["Total Purchase Value"] = total_purchase_value 
org_gender_purchased_data_df["Avg Total Purchase per Person"] = Avg_purchase_per_person
org_gender_purchased_data_df

summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_gender_purchased_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

grp_by_age_purchase_data_df = purchase_data_df
grp_by_age_purchase_data_df["Age Summary"] = pd.cut(grp_by_age_purchase_data_df["Age"], bins, labels=group_names)

grp_by_age_purchase_data_df = grp_by_age_purchase_data_df.groupby("Age Summary")
grp_by_age_purchase_data_df.count()

summary_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df.count())

summary_by_age_df["Purchase ID"] = (summary_by_age_df["Purchase ID"]/total)*100


new_summary_by_age_df = summary_by_age_df[["Purchase ID","SN"]]

new_grp_by_age_summary_df = new_summary_by_age_df.rename(columns={"Purchase ID":"Percentage of Players", "SN":"Total Count"})
new_grp_by_age_summary_df

             Percentage of Players  Total Count
Age Summary
<10                       2.948718           23
10-14                     3.589744           28
15-19                    17.435897          136
20-24                    46.794872          365
25-29                    12.948718          101
30-34                     9.358974           73
35-39                     5.256410           41
40+                       1.666667           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
analysis_by_age_df = pd.DataFrame(grp_by_age_purchase_data_df["Purchase ID"].count())

total_purchase_value_age = grp_by_age_purchase_data_df["Price"].sum()

avg_purchase_price_age = grp_by_age_purchase_data_df["Price"].mean()

normalized_totals_age = total_purchase_value_age/grp_by_age_purchase_data_df["Purchase ID"].count()


analysis_by_age_df["Average Purchase Price"] = avg_purchase_price_age  
analysis_by_age_df["Total Purchase Value"] = total_purchase_value_age 
analysis_by_age_df["Avg Total Purchase per Persons"] = normalized_totals_age 

summary_age_purchased_data_df = analysis_by_age_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_age_purchased_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Persons
Age Summary,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
new_purchase_data_df = pd.DataFrame(purchase_data)

groupby_spenders_df = new_purchase_data_df.groupby("SN")

spenders_analysis_df =pd.DataFrame(groupby_spenders_df["Purchase ID"].count())

total_purchase = groupby_spenders_df["Price"].sum()
avg_pur_price = groupby_spenders_df["Price"].mean()

spenders_analysis_df["Average Purchase Price"] = avg_pur_price
spenders_analysis_df["Total Purchase Value"] = total_purchase

new_spenders_analysis_df = spenders_analysis_df.rename(columns={"Purchase ID":"Purchase Count"})
Top_spenders_df = new_spenders_analysis_df.sort_values("Total Purchase Value", ascending= False)
Top_spenders_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
item_data = purchase_data_df.loc[:,["Item ID", "Item Name", "Price"]]
groupby_item_df = item_data.groupby(["Item ID","Item Name"])

analysis_purchase_item = pd.DataFrame(groupby_item_df["Item ID"]).count()
analysis_purchase_item

total_by_item = groupby_item_df("Price").sum()
purchase_value_item = groupby_item_df("Price").mean()

analysis_purchase_item["Item Price"] = total_by_item
analysis_purchase_item["Total Purchase Value"] = purchase_value_item

new_purchase_by_item = analysis_purchase_item.rename(columns={"Item ID": "Purchase Count"})
top_purchase_by_item = new_purchase_by_item.sort_values("Purchase Count",ascending=False)
top_purchase_by_item

TypeError: 'DataFrameGroupBy' object is not callable

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame